APP_ENV=local
PORT=8080

GCP_CLIENT_ID=
GCP_CLIENT_SECRET=
GCP_SCOPE_EMAIL=https://www.googleapis.com/auth/userinfo.email
GCP_SCOPE_PROFILE=https://www.googleapis.com/auth/userinfo.profile
GOOGLE_AUTH_CALLBACK=
GCP_USER_INFO=https://www.googleapis.com/oauth2/v3/userinfo

XENDIT_SECRET_KEY=
XENDIT_API_CALLBACK=

db_host=
db_port=3306
db_user=
db_password=
db_database=
driver=mysql